<html>
    <head>
         <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Word Repeat Counter</title>
    </head>
    <body>
        <header>
            <h1>Word Repeat Counter</h1>
            <h3>Search a chunk of text to find how many times a single word repeats.</h3>
        </header>
        <div class=container>
            <form action='/result'>
                <div class='form-group'>
                    <label for='word'>Enter your search word:</label>
                    <input id='word' name='word' type='text' class='form-control'>
                </div>
                <div class='form-group'>
                    <label for='string'>Choose your weapon:</label>
                    <input id='string' name='string' type='text' class='form-control'>
                </div>
                <div class='button'>
                    <button type='submit' class='btn-danger'>Search</button>
                </div>
            </form>
        </div>
    </body>
</html>
