<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Word Count Results</title>
</head>
<body>
    <div class="container">
        <h1>This word appears {{ result }} times!</h1>
    </div>
</body>
</html>
